.container{
    display: flex;
    /* border: 1px solid blue; */
    justify-content: center;
}
.box_head{
    margin: 25px 0;
    text-align: center;
}
.box_head .title{
    font-size: 25px;
    font-weight: 600;


}
.box_head .subtitle{
    font-weight: 300;
    color: cadetblue;
}
.innerbox{
    border: 1px solid blue;
    padding: 12px 30px;
    border-radius: 8px;
}